<div class="malaria">
  <div class="header d-flex justify-content-between">
    <div class="">
      <img class="logo" src="../../../assets/images/log.png" alt="">
    </div>
    <div class="py-5 px-5">
        <button class="btn-home" [routerLink]="['/home']">Home Page</button>
    </div>
  </div>

  <div class="row">
    <div class="tag py-4 col-md-3">
      <div class="tag-item py-4 px-4">Yellow Fever Diagnosis</div>
    </div>

    <div class="border col-md-8 mx-2 shadow" >
      <div class="correct">Correct Diagnosis For Your Symptoms</div>

      <div class="px-4">
        <!-- <img height="200" class="px-3 py-4" width="850" src="../../../assets/images/malaria-pic.PNG" alt=""> -->

        <div class="symptoms py-4">
          <h5 class="symptom-head ">Symptoms Below</h5>
            <ul>
              <li>Fever</li>
              <li>Conjunctiva injection or Red eyes</li>
              <li>Relative bradycardia or low heart beat</li>
              <li>Jaundice or yellowish Skin</li>
              <li>Hemorrhagic diathesis or Bleeding</li>
              <li>Hypotension or Low blood Pressure</li>
              <li>Lethargy or Laziness or Fatigue </li>
              <li>Vomiting</li> 
            </ul>
            
        </div>

        <div class="treatment">
          <h5>Treatment Options</h5>
          <div class=""> 
            <p><span class="bolder">Ribavirin</span>:  33 mg/kg intravenously as a loading dose, followed by 16 mg/kg every 6 hours for 4 days, then 8
              mg/kg every 8 hours for 6 days
            </p>
            
            <p> Maintaining good nutrition and taking antibiotics
            </p>
 
          </div> 

        </div>
      </div>
    </div>
  </div>
</div>