<div class="malaria">
  <div class="header d-flex justify-content-between">
    <div class="">
      <img class="logo" src="../../../assets/images/log.png" alt="">
    </div>
    <div class="py-5 px-5">
        <button class="btn-home" [routerLink]="['/home']">Home Page</button>
    </div>
  </div>

  <div class="row">
    <div class="tag py-4 col-md-3">
      <div class="tag-item py-4 px-4">Cholera Diagnosis</div>
    </div>

    <div class="border col-md-8 mx-2 shadow" >
      <div class="correct">Correct Diagnosis For Your Symptoms</div>

      <div class="px-4 py-4 d-flex justify-content-between">
        <!-- <img height="200" class="px-3 py-4" width="850" src="../../../assets/images/malaria-pic.PNG" alt=""> -->

        <div class="symptoms">
          <h5 class="symptom-head ">Symptoms Below</h5>
          <p>Patient Group</p>
            <ul> 
              <li>Mild-moderate volume depletion, without vomiting</li>
              <li>Lethargy or Laziness or Fatigue</li>
              <li>Watery diarrhea</li>
              <li>Vomitting</li>
              <li>Volume depletion or dehydration</li>
              <li>Abdominal pain or stomach pain</li> 
              <li>S-typhi and S-paratyphi infections</li>
              
            </ul>
        </div>

        <div class="treatment">
          <h5>Treatment Options</h5>
          <div class="">
            <h6>Primary Options</h6>
            <p><span class="bolder">Azithromycin</span>: Children: 20 mg/kg orally as a single
              dose, maximum 1000 mg/dose;<br> Adults: 1000 mg orally
              as a single dose
            </p>
            <p class="bolder">OR</p>
            <p><span>Tetracycline</span>: Children ≥8 years of age: 12.5 mg/kg orally
              four times daily for 3 days, maximum 500 mg/dose;<br>
              Adults: 500 mg orally four times daily for 3 days
            </p>
            <p class="bolder">OR</p>
            <p><span>Doxycycline</span>: children ≥8 years of age: 6 mg/kg/day
              orally/intravenously as a single dose; <br> Adults: 300 mg
              orally/intravenously as a single dose
            </p>

            <p class="bolder">OR</p>
            <p><span>Trithethoprim/Sulfamethoxazole</span>:  Children: 4-5 mg/kg
              lorally twice daily for 3 days; <br>Adults: 160 me orally twice
            </p>
          </div>
           
        </div>
      </div>
    </div>
  </div>
</div>