<div class="malaria">
  <div class="header d-flex justify-content-between">
    <div class="">
      <img class="logo" src="../../../assets/images/log.png" alt="">
    </div>
    <div class="py-5 px-5">
        <button class="btn-home" [routerLink]="['/home']">Home Page</button>
    </div>
  </div>

  <div class="row">
    <div class="tag py-4 col-md-3">
      <div class="tag-item py-4 px-4">Ebola Diagnosis</div>
    </div>

    <div class="border col-md-8 mx-2 shadow" >
      <div class="correct">Correct Diagnosis For Your Symptoms</div>

      <div class="px-4">
        <!-- <img height="200" class="px-3 py-4" width="850" src="../../../assets/images/malaria-pic.PNG" alt=""> -->

        <div class="symptoms">
          <h5 class="symptom-head ">Symptoms Below</h5>
            <ul>
              <li>Fever</li>
              <li>Severe headache</li>
              <li>Muscle pain</li>
              <li>Anorexia: Eating disorder and weight loss</li>
              <li>Weakness</li>
              <li>Diarrhea</li>
              <li>Abdominal (stomach) Pain</li>
              <li>Vomiting </li>
              <li>Fatigue</li>
              <li>Unexplained hemorrhage (bleeding or bruising)
                Symptoms may appeny anywhere from 2 to 21 days after exposure to Ebola, but the average is 8 to 10 day
                Recovery from Ebola spends on good supportive clinical care and the patient's immune response. People
                recover from Ebola infection develop antibodies that last for at least 10 years
                </li>
            </ul>
          </div>

        <div class="treatment">
          <h5>Treatment Options</h5>
          <div class=""> 
            <p> There's no cure for Ebola, though researchers are working on it.
            </p> 
            <p>There are two drug treatments which have been approved for treating Ebola.
            </p>
            
            <p class="bolder">
              Inmazeb is a mixture of three monoclonal antibodies (atoltivimab, maftivimab, and odesivimab-ebgn). 
              <br>Ansuvimab-zykl (Ebanga) is a monoclonal antibody given as an injection
            </p>
          </div>
           

        </div>
      </div>
    </div>
  </div>
</div>