<div class="malaria">
  <div class="header d-flex justify-content-between">
    <div class="">
      <img class="logo" src="../../../assets/images/log.png" alt="">
    </div>
    <div class="py-5 px-5">
        <button class="btn-home" [routerLink]="['/home']">Home Page</button>
    </div>
  </div>

  <div class="row">
    <div class="tag py-4 col-md-3">
      <div class="tag-item py-4 px-4">Tuberculosis Diagnosis</div>
    </div>

    <div class="border col-md-8 mx-2 shadow" >
      <div class="correct">Correct Diagnosis For Your Symptoms</div>

      <div class="px-4">
        <!-- <img height="200" class="px-3 py-4" width="850" src="../../../assets/images/malaria-pic.PNG" alt=""> -->
        <h2 class="bolder">Tuberculosis (TB) Disease: Symptoms & Risk Factors</h2>
          <p class="bolder">Tuberculosis (TB) is a disease caused by bacteria that are spread through the air from person to persi
          If not treated properly, TB disease can be fatal. People infected with TB bacteria who are not sick ma
          still need treatment to prevent TB disease from developing in the future. Learn to recognize the
          symptoms of TB disease and find out if you are at risk.</p>
          <h5 class="">Latent TB infection and TB disease</h5>
          <p>The bacteria that cause TB is spread through the air from person to person. The TB bacteria are put into the
          when a person with TB disease coughs, sneezes, speaks, or sings. People nearby may breathe in these bacte
          and become infected. There are two types of TB conditions: <span class="bolder">latent TB infection</span> and <span class="bolder">TB disease</span>.</p>
          <p>TB bacteria can live in the body without making you sick. This is called <span class="bolder">latent TB infection</span>. In most people w
          breathe in TB bacteria and become infected, the body is able to fight the bacteria to stop them from growing
          People with latent TB infection do not feel sick, do not have any symptoms, and cannot spread TB bacteria to
          others.</p>
          <p>If TB bacteria become active in the body and multiply, the person will go from having latent TB infection to
          being sick with <span class="bolder">TB disease</span>.</p>
          <span class="bolder">NOTE: </span>People with TB disease usually have symptoms and may spread TB bacteria to others.

          <div class="py-5 row">
            <div class="symptoms col-md-3">
              <h5 class="symptom-head ">Symptoms Below</h5>
                <ul>
                  <li>Fatigue</li>
                  <li>Night sweats</li>
                  <li>Chills </li>
                  <li>Fever</li>
                  <li>Coughing for three or more weeks</li>
                  <li>Coughing up blood or mucus</li>
                  <li>Chest pain, or pain with breathing or coughing</li>
                  <li>Unintentional weight loss                  </li>
                  <li>Loss of appetite</li>
                </ul>
                
            </div>

            
            <div class="treatment col-md-9">
              <h5>Treatment Options</h5>
              <div class=""> 
                <p>If you have latent TB, your doctor might recommend treatment with medication if you're at high risk of developing active TB. For active tuberculosis, you must take antibiotics for at least six to nine months.

                </p>
                <p class="bolder">Most common TB drugs</p>
                <p>If you have latent tuberculosis, you might need to take only one or two types of TB drugs. Active tuberculosis, particularly if it's a drug-resistant strain, will require several drugs at once. The most common medications used to treat tuberculosis include:

                </p>
                <ul>
                  <li>Isoniazid</li>
                  <li>Rifampin (Rifadin, Rimactane)</li>
                  <li>Ethambutol (Myambutol) </li>
                  <li>Pyrazinamide</li> 
                </ul>

                <h6>Secordary Options</h6>
                <p>If you have drug-resistant TB, a combination of antibiotics called fluoroquinolones and injectable medications, such as amikacin or capreomycin (Capastat), are generally used for 20 to 30 months. Some types of TB are developing resistance to these medications as well.
                </p>

                <p>Some drugs might be added to therapy to counter drug resistance, including:
                </p>
                <ul>
                  <li>Bedaquiline (Sirturo)</li>
                  <li>Linezolid (Zyvox)</li> 
                </ul>
              </div>

            </div>
          </div>
      </div>
    </div>
  </div>
</div>