<div class="malaria">
  <div class="header d-flex justify-content-between">
    <div class="">
      <img class="logo" src="../../../assets/images/log.png" alt="">
    </div>
    <div class="py-5 px-5">
        <button class="btn-home" [routerLink]="['/home']">Home Page</button>
    </div>
  </div>

  <div class="row">
    <div class="tag py-4 col-md-3">
      <div class="tag-item py-4 px-4">Malaria Diagnosis</div>
    </div>

    <div class="border col-md-8 mx-2 shadow" >
      <div class="correct">Correct Diagnosis For Your Symptoms</div>

      <div class="px-4">
        <img height="200" class="px-3 py-4" width="850" src="../../../assets/images/malaria-pic.PNG" alt="">

        <div class="symptoms">
          <h5 class="symptom-head ">Symptoms Below</h5>
            <ul>
              <li>Fever</li>
              <li>Headache</li>
              <li>Weakness</li>
              <li>Diarrhea</li>
              <li>Nausea and Vomitting</li>
              <li>Abdominal Pain</li>
              <li>Chills or Cold</li>
              <li>Pallor or paleness of the skin</li>
              <li>Myalgia or Muscle Pain</li>
              <li>Arthralgia or Join Pain</li>
              <li>Anorexia or Lack of appetite</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>