<div class="malaria">
  <div class="header d-flex justify-content-between">
    <div class="">
      <img class="logo" src="../../../assets/images/log.png" alt="">
    </div>
    <div class="py-5 px-5">
        <button class="btn-home" [routerLink]="['/home']">Home Page</button>
    </div>
  </div>

  <div class="row">
    <div class="tag py-4 col-md-3">
      <div class="tag-item py-4 px-4">Typhoid Diagnosis</div>
    </div>

    <div class="border col-md-8 mx-2 shadow" >
      <div class="correct">Correct Diagnosis For Your Symptoms</div>

      <div class="px-4">
        <!-- <img height="200" class="px-3 py-4" width="850" src="../../../assets/images/malaria-pic.PNG" alt=""> -->

        <div class="symptoms">
          <h5 class="symptom-head ">Symptoms Below</h5>
            <ul>
              <li>High Fever</li>
              <li>Dull Frontal Headache</li>
              <li>Anorexia: Eating disorder and weight loss</li>
              <li>Diarrhea</li>
              <li>Constipation</li>
              <li>Abdominal Pain</li>
              <li>Chills </li>
              <li>Cough</li>
              <li>Malaise or fatigue</li>
            </ul>
        </div>

        <div class="treatment">
          <h5>Treatment Options</h5>
          <div class="">
            <h6>Primary Options</h6>
            <p><span class="bolder">Ciprofloxacin</span>: Children - Consult a specialist for guidiance on dose;<br>
              Adults - 500mg orally twice daily
            </p>
            <p class="bolder">OR</p>
            <p><span class="bolder">Ofloxacin</span>: Children - Consult a specialist for guidiance on dose;<br>
              Adults - 400mg orally twice daily
            </p>

            <h6>Secordary Options</h6>
            <p><span class="bolder">Chloramphenicol</span>: Children and Adults - 50-100mg/kg/day orally/intravenously given in divided dosed every 6 hours<br>
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>